services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app-dev:
    image: node:24-alpine
    container_name: app-dev
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    env_file:
      - .env
    command: sh -c "npm install && npx prisma db push && npm run dev"
    depends_on:
      - postgres
    profiles:
      - dev

  app-prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-prod
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    depends_on:
      - postgres
    profiles:
      - prod

volumes:
  postgres_data:
