@import "@monorepo/design-system/styles/fonts";
@import "tailwindcss";
@import "tw-animate-css";
@import "@monorepo/design-system/styles/full";

@plugin "tailwindcss-react-aria-components" {
	themes:
		light --default,
		dark --selector(".dark");
}
